@model UpdateBlogVM
<section>
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mt-5">Update Bloge</h5>
                        <hr>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="HotelId">Hotel</label>
                                    <select asp-for="HotelId" class="form-control" asp-items="new SelectList(ViewBag.Hotels,nameof(Hotel.Id),nameof(Hotel.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="HotelId"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Name">Name</label>
                                    <input asp-for="Name" class="form-control" placeholder="Name" value="@Model.Name" />
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="SubTitle">Title</label>
                                    <input asp-for="SubTitle" class="form-control" placeholder="SubTitle" value="@Model.SubTitle" />
                                    <span class="text-danger" asp-validation-for="SubTitle"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Description">Description</label>
                                    <input asp-for="Description" class="form-control" placeholder="Description" value="@Model.Description" />
                                    <span class="text-danger" asp-validation-for="Description"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <img src="~/assets/assets/images/blog/@Model.ImgUrl" />
                                    <label asp-for="Photo">Photo</label>
                                    <input asp-for="Photo" class="form-control" placeholder="Photo" accept="image/*" />
                                    <span class="text-danger" asp-validation-for="Photo"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="TagIds">Tags</label>
                                    <select asp-for="TagIds" class="form-control" asp-items="new SelectList(ViewBag.Tags,nameof(Tag.Id),nameof(Tag.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="TagIds"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn  btn-primary">Update</button>
                            <div class="form-group col-md-6 text-danger" asp-validation-summary="ModelOnly">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--[ form-element ] end-->
        </div>
        <!--[ Main Content ] end-->

    </div>
</section>
